* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  height: 140px;
  width: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  padding: 0 100px;
  gap: 25px;
  position: fixed;
  justify-content: flex-start;
  z-index: 1000;
}

.cursor {
  height: 20px;
  width: 20px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
}

.cursor-blur {
  height: 250px;
  width: 250px;
  background-color: #d8ff6b6d;
  border-radius: 50%;
  position: fixed;
  filter: blur(100px);
  z-index: 6;
}

#nav img {
  height: 70px;
  transition: all 0.2s linear;
}

#nav img:hover {
  scale: calc(0.9);
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s linear;
}

#nav h4:hover {
  color: #bbff00;
}

#hamburger-icon {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
  z-index: 102;
}

#hamburger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

#hamburger-icon span:nth-child(1) {
  top: 0px;
}
#hamburger-icon span:nth-child(2) {
  top: 10px;
}
#hamburger-icon span:nth-child(3) {
  top: 20px;
}

/* Mobile Navigation Menu */
#mobile-nav {
  height: 100vh;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

#mobile-nav a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

#mobile-nav-close {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 50px;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.36);
  overflow-x: hidden;
}

#page1 {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#page1 h1 {
  font-size: 90px;
  font-weight: 900;
  position: relative;
  z-index: 4;
}

#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: black;
  top: -5px;
  left: -5px;
  z-index: -2;
  -webkit-text-stroke: 1px #95c11e;
}

#page1 h2 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}

#page1 p {
  font-size: 18px;
  font-weight: 100;
  width: 60%;
  line-height: 1.327rem;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 3;
}

.scroller {
  white-space: nowrap;
  position: relative;
  z-index: 9;
}

.scroller h4 {
  display: inline-block;
  font-size: 120px;
  font-weight: 900;
  margin-right: 10px;
  -webkit-text-stroke: 2px #ffffff;
  color: #000;
  transition: all linear 0.3s;
  z-index: -1;
}

.scroller h4:hover {
  color: #95c11e;
}

.scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 32s infinite linear;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}


#about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
  position: relative;
  z-index: 10;
}


#about-us img {
  height: 150px;
  width: 150px;
  border-radius: 40px;
  object-fit: cover;
  transition: all 0.2s linear;
}

#about-us img:hover {
  scale: calc(1.1)
}

#about-us-in {
  width: 50%;
  text-align: center;
  line-height: 1.5rem;
}

#about-us-in h3 {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 10px;
}


#card-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;
  z-index: 9;
}

.white-dots {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 70px;
  bottom: 77%
}

.card {
  height: 500px;
  width: 24%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  transition: all ease 0.6s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.card h3 {
  position: absolute;
  bottom: 0;
  font-weight: 900;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all ease 0.5s;
}

#card1 {
  background-image: url("./Assests/card1.avif");
  overflow: hidden;
}

#card2 {
  background-image: url("./Assests/card2.webp");
}

#card3 {
  background-image: url("./Assests/card3.avif");
  overflow: hidden;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #ade511;
  padding: 50px 30px;
  opacity: 0;
  transition: all 0.3s linear;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover h3 {
  opacity: 0;
}

.overlay h4{
  color: #000;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.overlay p {
  color: #000;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5rem;
  text-align: justify;
}


















@media (max-width: 1024px) {
  #nav {
    padding: 0 50px;
    height: 100px;
  }

  #page1 h1 {
    font-size: 70px;
  }

  #page1 p {
    width: 80%;
  }

  .scroller h4 {
    font-size: 90px;
  }

  #about-us {
    flex-direction: column;
    height: auto;
    padding: 50px 0;
    gap: 30px;
  }

  #about-us-in {
    width: 80%;
  }

  #card-container {
    flex-direction: column;
    gap: 50px;
  }
  .card {
    width: 70%;
  }
}

/* Mobile devices */
@media (max-width: 670px) {
  .cursor,
  .cursor-blur {
    display: none;
  }

  #nav {
    padding: 0 20px;
    height: 80px;
    justify-content: space-between;
  }

  #nav img {
    height: 50px;
  }

  #nav h4 {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  #page1 {
    padding: 0 5vw;
  }

  #page1 h1 {
    font-size: 40px;
  }

  #page1 h1::before {
    top: -2px;
    left: -2px;
    -webkit-text-stroke: 1px #95c11e;
  }

  #page1 h2 {
    font-size: 20px;
  }

  #page1 p {
    width: 90%;
    font-size: 16px;
  }

  .scroller h4 {
    font-size: 60px;
    -webkit-text-stroke: 1px #ffffff;
  }

  #about-us {
    padding: 0 20px;
  }

  #about-us-in {
    width: 90%;
  }

  #about-us img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }

  .card {
    width: 80%;
  }
}
