* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  height: 140px;
  width: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  padding: 0 100px;
  gap: 25px;
  position: fixed;
  justify-content: flex-start;
  z-index: 10;
}

.cursor {
    height: 20px;
    width: 20px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 999;
}

.cursor-blur {
    height: 250px;
    width: 250px;
    background-color: #d8ff6b6d;
    border-radius: 50%;
    position: fixed;
    filter: blur(100px);
    z-index: 9;
}

#nav img {
  height: 70px;
  transition: all 0.2s linear;
}

#nav img:hover {
    scale: calc(0.9);
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s linear;
}

#nav h4:hover {
    color: #bbff00
}

/* This class will be added by GSAP on scroll */
#nav.scrolled h4:hover {
    color: #95C11E;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.36);
  overflow-x: hidden;
}

#page1 {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#page1 h1 {
  font-size: 90px;
  font-weight: 900;
    position: relative;
    z-index: 1;
}

#page1 h1::before {
    content:"EAT. DRINK. PLAY.";
    position: absolute;
    color: black;
    top: -5px;
    left: -5px;
    z-index: -1;
    -webkit-text-stroke: 1px #95C11E;
}

#page1 h2 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}

#page1 p {
  font-size: 18px;
  font-weight: 100;
  width: 60%;
  line-height: 1.327rem;
}

#page2 {
    height: 100vh;
    width: 100%;
    z-index: 2;
}


.scroller {
    white-space: nowrap;
    position: relative;
    z-index: 3;
}

.scroller h4 {
    display: inline-block;
    font-size: 120px;
    font-weight: 900;
    margin-right: 10px;
    -webkit-text-stroke: 2px #ffffff;
    color: #000;
    transition: all linear 0.3s;
}

.scroller h4:hover {
    color: #95C11E;
}

.scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 32s infinite linear;
}


@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to{
        transform: translateX(-100%);
    }
}
