* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  height: 140px;
  width: 100%;
  /* background-color: black; */
  display: flex;
  align-items: center;
  padding: 0 100px;
  gap: 25px;
  position: fixed;
  justify-content: flex-start;
  z-index: 10;
}

.cursor {
  height: 20px;
  width: 20px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
}

.cursor-blur {
  height: 250px;
  width: 250px;
  background-color: #d8ff6b6d;
  border-radius: 50%;
  position: fixed;
  filter: blur(100px);
  z-index: 9;
}

#nav img {
  height: 70px;
  transition: all 0.2s linear;
}

#nav img:hover {
  scale: calc(0.9);
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s linear;
}

#nav h4:hover {
  color: #bbff00;
}

#hamburger-icon {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
  z-index: 102;
}

#hamburger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

#hamburger-icon span:nth-child(1) {
  top: 0px;
}
#hamburger-icon span:nth-child(2) {
  top: 10px;
}
#hamburger-icon span:nth-child(3) {
  top: 20px;
}

/* Mobile Navigation Menu */
#mobile-nav {
  height: 100vh;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

#mobile-nav a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

#mobile-nav-close {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 50px;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.36);
  overflow-x: hidden;
}

#page1 {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#page1 h1 {
  font-size: 90px;
  font-weight: 900;
  position: relative;
  z-index: 4;
}

#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: black;
  top: -5px;
  left: -5px;
  z-index: -2;
  -webkit-text-stroke: 1px #95c11e;
}

#page1 h2 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}

#page1 p {
  font-size: 18px;
  font-weight: 100;
  width: 60%;
  line-height: 1.327rem;
}

#page2 {
  height: 100vh;
  width: 100%;
  z-index: 3;
}

.scroller {
  white-space: nowrap;
  position: relative;
  z-index: 9;
}

.scroller h4 {
  display: inline-block;
  font-size: 120px;
  font-weight: 900;
  margin-right: 10px;
  -webkit-text-stroke: 2px #ffffff;
  color: #000;
  transition: all linear 0.3s;
  z-index: -1;
}

.scroller h4:hover {
  color: #95c11e;
}

.scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 32s infinite linear;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

@media (max-width: 1024px) {
  #nav {
    padding: 0 50px;
    height: 100px;
  }

  #page1 h1 {
    font-size: 70px;
  }

  #page1 p {
    width: 80%;
  }

  .scroller h4 {
    font-size: 90px;
  }
}

/* Mobile devices */
@media (max-width: 670px) {
  .cursor,
  .cursor-blur {
    display: none;
  }

  #nav {
    padding: 0 20px;
    height: 80px;
    justify-content: space-between;
  }

  #nav img {
    height: 50px;
  }

  #nav h4 {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  #page1 {
    padding: 0 5vw;
  }

  #page1 h1 {
    font-size: 40px;
  }

  #page1 h1::before {
    top: -2px;
    left: -2px;
    -webkit-text-stroke: 1px #95c11e;
  }

  #page1 h2 {
    font-size: 20px;
  }

  #page1 p {
    width: 90%;
    font-size: 16px;
  }

  .scroller h4 {
    font-size: 60px;
    -webkit-text-stroke: 1px #ffffff;
  }
}
