* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}

#nav {
  height: 140px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 100px;
  gap: 25px;
  position: fixed;
  justify-content: flex-start;
  z-index: 1000;
}

.cursor {
  height: 20px;
  width: 20px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 999;
}

.cursor-blur {
  height: 250px;
  width: 250px;
  background-color: #d8ff6b6d;
  border-radius: 50%;
  position: fixed;
  filter: blur(100px);
  z-index: 6;
}


#nav img {
  height: 70px;
  transition: all 0.2s linear;
}

#nav img:hover {
  scale: calc(0.9);
}

#nav h4 {
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s linear;
}

#nav h4:hover {
  color: #bbff00;
}

#hamburger-icon {
  display: none;
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
  z-index: 102;
}

#hamburger-icon span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transition: 0.25s ease-in-out;
}

#hamburger-icon span:nth-child(1) {
  top: 0px;
}
#hamburger-icon span:nth-child(2) {
  top: 10px;
}
#hamburger-icon span:nth-child(3) {
  top: 20px;
}


#mobile-nav {
  height: 100vh;
  width: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  z-index: 101;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
}

#mobile-nav a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  color: #fff;
}

#mobile-nav-close {
  position: absolute;
  top: 20px;
  right: 35px;
  font-size: 50px;
  font-weight: 100;
  color: #fff;
  cursor: pointer;
}

video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: fixed;
}

#main {
  position: relative;
  background-color: rgba(0, 0, 0, 0.45);
  overflow-x: hidden;
}

#page1 {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#page1 h1 {
  font-size: 90px;
  font-weight: 900;
  position: relative;
  transform-style: preserve-3d;
}

#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  position: absolute;
  color: black;
  top: -5px;
  left: -5px;
  -webkit-text-stroke: 1px #95c11e;
  transform: translateZ(-1px);
}

#page1 h2 {
  font-size: 25px;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 20px;
}

#page1 p {
  font-size: 18px;
  font-weight: 100;
  width: 60%;
  line-height: 1.327rem;
}

#page2 {
  min-height: 100vh;
  width: 100%;
  z-index: 3;
}

.scroller {
  white-space: nowrap;
  position: relative;
  z-index: 9;
}

.scroller h4 {
  display: inline-block;
  font-size: 120px;
  font-weight: 900;
  margin-right: 10px;
  -webkit-text-stroke: 2px #ffffff;
  color: #000;
  transition: all linear 0.3s;
  outline: 3px solid transparent;
  z-index: -1;
}

.scroller h4:hover {
  color: #95c11e;
}

.scroller-in {
  display: inline-block;
  white-space: nowrap;
  animation: scroll 32s infinite linear;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}


#about-us {
  height: 40vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 50px;
  position: relative;
  z-index: 10;
}


#about-us img {
  height: 150px;
  width: 150px;
  border-radius: 40px;
  object-fit: cover;
  transition: all 0.2s linear;
}

#about-us img:hover {
  scale: calc(1.1)
}

#about-us-in {
  width: 50%;
  text-align: center;
  line-height: 1.5rem;
}

#about-us-in h3 {
  font-size: 30px;
  font-weight: 900;
  padding-bottom: 10px;
}


#card-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  position: relative;
  z-index: 9;
}

.white-dots {
  height: 150px;
  width: 150px;
  position: absolute;
  left: 70px;
  bottom: 77%
}

.card {
  height: 500px;
  width: 24%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  transition: all ease 0.6s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  cursor: pointer;
}

.card h3 {
  position: absolute;
  bottom: 0;
  font-weight: 900;
  font-size: 28px;
  padding: 20px;
  width: 100%;
  transition: all ease 0.5s;
}

#card1 {
  background-image: url("./Assests/card1.avif");
  overflow: hidden;
}

#card2 {
  background-image: url("./Assests/card2.webp");
}

#card3 {
  background-image: url("./Assests/card3.avif");
  overflow: hidden;
}

.overlay {
  height: 100%;
  width: 100%;
  background-color: #ade511;
  padding: 50px 30px;
  opacity: 0;
  transition: all 0.3s linear;
}

.card:hover .overlay {
  opacity: 1;
}

.card:hover h3 {
  opacity: 0;
}

.overlay h4{
  color: #000;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.overlay p {
  color: #000;
  font-size: 18px;
  font-weight: 100;
  line-height: 1.5rem;
  text-align: justify;
}

.green-div{
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to left bottom, #ACE022, #1eff00);
}

.green-div h4 {
  width: 45%;
  line-height: 1.5rem;
  font-size: 27px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}

.green-div img {
  height: 100%;
  object-fit: cover;
  width: 13%;
}

#img-left {
  transform: rotate(180deg);
}


#page3 {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#page3 > p {
  font-size: 30px;
  font-weight: 700;
  width: 60%;
  text-align: center;
  line-height: 2.5rem;
}

#page3 img {
  position: absolute;
  height: 60px;
}

#colon1 {
  left: 15%;
  top: 20%;
}

#colon2 {
  bottom: 25%;
  right: 15%;
}

#page4 {
  height: 30vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  position: relative;
}

.elem {
  height: 70%;
  width: 26%;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}

.elem h2{
  height: 100%;
  width: 100%;
  background-color: #95c11e;
  display: flex;
  align-items: center;
  color: #000;
  justify-content: center;
  font-size: 25px;
  font-weight: 800;
  text-align: center;
  position: absolute;
  z-index: 10;
  transition: all 0.5s ease;
  cursor: pointer;
}

.elem img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all ease 0.5s;
  scale: 1.1
}

.elem:hover img {
  scale: 1
}

.elem:hover h2 {
  color: white;
  background-color: transparent;
  text-shadow: 1px 1px 0.5px black;
}

#page4 h1 {
  font-size: clamp(40px, 5vw, 75px);
  position: absolute;
  top: -15%;
  font-weight: 900;
  color: #000;
  -webkit-text-stroke: 1px #fff;
  text-align: center;
  cursor: pointer;
}


#footer {
  height: 40vh;
  width: 100%;
  background: linear-gradient(to left bottom, #ACE022, #1eff00);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 6.5vw;
  padding: 0 100px;
  margin-top: 50px;
}

#footer > img {
  position: absolute;
  left: 0;
  height: 100%;
  z-index: 0;
}


#f1 img {
  height: 100px;
  transition: all 0.2s linear;
}
#f1 img:hover {
  scale: calc(0.9);
}
#f1,
#f2,
#f3,
#f4 {
  width: fit-content;
  position: relative;
  z-index: 99;
}
#f2 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 900;
  margin-bottom: 8px;
  cursor: pointer;
}

#f3 h3 {
  font-size: 1.6vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 800;
  margin-bottom: 8px;
  cursor: pointer;
}

#f3 h3:hover , #f2 h3:hover {
  color: #fff;
}
#f4 h4 {
  font-size: 1vw;
  white-space: nowrap;
  text-transform: uppercase;
  color: #000;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 8px;
  cursor: pointer;
}
















@media (max-width: 1024px) {
  #nav {
    padding: 0 50px;
    height: 100px;
  }

  #page1 h1 {
    font-size: 70px;
  }

  #page1 p {
    width: 80%;
  }

  .scroller h4 {
    font-size: 90px;
  }

  #about-us {
    flex-direction: column;
    height: auto;
    padding: 50px 0;
    gap: 30px;
  }

  #about-us-in {
    width: 80%;
  }

  #card-container {
    flex-direction: column;
    gap: 50px;
  }
  .card {
    width: 70%;
    height: 250px;
  }

  .overlay {
    border-radius: 20px;
    padding: 0 20px;
  }

  #page4 {
    gap: 20px;
  }

  .green-div {
    margin-top: 40px;
    flex-direction: column;
    height: auto;
    padding: 30px 0;
  }

  .green-div h4 {
    width: 90%;
    font-size: 22px;
    margin-bottom: 20px;
  }

  .green-div img {
    display: none;
  }

  .elem h2 {
    background-color: transparent;
    color: white;
  }

  #footer {
    gap: 30px;
    padding: 0 50px;
  }

  #f2 h3, #f3 h3 {
    font-size: 22px; 
  }


}


@media (max-width: 670px) {
  .cursor,
  .cursor-blur {
    display: none;
  }

  #nav {
    padding: 0 20px;
    height: 80px;
    justify-content: space-between;
  }

  #nav img {
    height: 50px;
  }

  #nav h4 {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }

  #page1 {
    padding: 0 5vw;
  }

  #page1 h1 {
    font-size: 40px;
  }

  #page1 h1::before {
    top: -2px;
    left: -2px;
    -webkit-text-stroke: 1px #95c11e;
    outline: 2px solid transparent;
  }

  #page1 h2 {
    font-size: 20px;
  }

  #page1 p {
    width: 90%;
    font-size: 16px;
  }

  .scroller h4 {
    font-size: 60px;
    -webkit-text-stroke: 1px #ffffff;
    outline: 2px solid transparent;
  }

  #about-us {
    padding: 0 20px;
  }

  #about-us-in {
    width: 90%;
  }

  #about-us img {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }

  .card {
    width: 80%;
  }

  
  #page4 h1 {
    display: none;
  }

  #page3 img {
    height: 40px;
  }


  .green-div {
    flex-direction: column;
    height: auto;
    padding: 30px 0;
  }

  .green-div h4 {
    width: 90%;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .green-div img {
    display: none;
  }

  #page3 > p {
    width: 90%;
    font-size: 20px;
    line-height: 1.5rem;
  }

  #page4 {
    flex-direction: column;
    height: auto;
    padding: 50px 0 0;
    gap: 20px;
  }

  .elem {
    width: 80%;
    margin-bottom: 20px;
  }

  #page4 h1 {
    position: static;
    font-size: clamp(45px, 12vw, 80px);
    margin-bottom: 20px;
    -webkit-text-stroke: 1px #95c11e;
    color: transparent;
  }

  #footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding: 50px 30px;
    height: auto;
  }
  
  #footer > img {
    display: none; 
  }

  #f2 h3, #f3 h3 {
    font-size: 22px;
  }

  #f4 h4 {
    font-size: 16px;
  }

  #f2 h3, #f3 h3, #f4 h4 {
    white-space: normal; 
  }

  #colon1 {
    top: 25%;
  }

  #colon2 {
    bottom: 30%;
  }
}
